<!DOCTYPE html>
<html>    
<head>
    <meta charset="UTF-8">
    <title></title>
        <link rel="stylesheet" type="text/css" href="CSS/style.css">
</head>  

    <link rel="stylesheet" type="text/css" href="CSS/reset.css">
    
<body>
    <header>
        <div>
            <p>Файловой хранилице v 0.01 (потеряй свои файлы красиво!;))</p>
            <hr>
            <p>Необходимо выполнить вход в систему</p>
        </div>
        <hr>
    </header>
    
    <!-- central body -->
    <div id="content">
        <!-- files arr-->
        <div>
            
        </div>
        <!-- /files arr -->
         <!-- download arr-->
        <div>
            
        </div>
        <!-- /download arr -->
         <!-- ask remote-->
        <div>
            
        </div>
        <!-- /ask remote -->
    </div>
    <!-- /central body -->
    
    <!-- rigth statistic -->
    <div>
        
    </div>
    <!-- /rigth statistic -->

    <footer>
        <hr>
        <div>
            <p>&#169;2014, EPAM RD PHP Training</p>
        </div>
    </footer>
</body>
    
</html>